<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715992067647-v42vpl1dhjpvjf52t4adpjf2u67c4h0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715992067647-v42vpl1dhjpvjf52t4adpjf2u67c4h0t</string>
	<key>API_KEY</key>
	<string>AIzaSyBGFViTeBcDN2iSFQu119lGSaQO869NTmc</string>
	<key>GCM_SENDER_ID</key>
	<string>715992067647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-30a56</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-30a56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715992067647:ios:212f12dc7e28e3f5ec928a</string>
</dict>
</plist>